@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";


.billing-page{
    @include fullscreen();
    position: relative;
    h1{
        text-align: center;
    }
    
    &>.row{
        display: block;
        @media screen and (min-width : $small-screen-width) {
            display: flex;
        }
        &>.col{
            @media screen and (min-width : $small-screen-width) {
                width: 50%;
            }
        }
    }
    .cart-info{
        margin-top: $normal-distance;
        padding: $closer-distance;
        @media screen and (min-width : $small-screen-width) {
            overflow: auto;
            max-height: calc(100vh - 120px);

        }
    }
    .delivery-info{
        min-height: unset;
        margin-top: unset;
        position: sticky;
        h3{
            text-align: center;
            margin-bottom: $normal-distance;
        }
        .submit-line{
            margin-top: $normal-distance;
            margin-bottom: $normal-distance;
            align-items: center;
            .total-price{
                margin: 0;
            }
        }
    }
    .payment-methods{
        .method{
            display: flex;
            align-items: center;
            margin-bottom: $close-distance;
            img{
                max-width: 150px;
            }
            input{
                margin-right: $normal-distance;
            }
        }
    }
}