@import "../../../scss/abstract/variable";
@import "../../../scss/abstract/mixin";

.detail-list {
  list-style-type: none;
  margin-left: $close-distance;
  li {
    cursor: pointer;
    position: relative;
    & > span {
      font-weight: $bold-weight;
      color: $primary-color;
    }
    .size-type{
        text-align: left;
        font-size: 0.85rem
    }
    .tool-tip {
      visibility: hidden;
      opacity: 0;
      width: 150px;
      background-color: white;
      text-align: center;
      border-radius: 4px;
      padding: 5px 5px;
        border: 2px solid rgb(134, 134, 134);
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 120%;
      left: 50%;
      margin-left: -60px;
    
      &::after{
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 25%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color:rgb(134, 134, 134) transparent transparent transparent;
      }
      img{
          width: 100%;
          display: block;
          margin-bottom: $closer-distance
      }
      .name{
          font-weight: $bold-weight;
          font-size: 0.95rem;
          text-align: center
      }
      .topping{
          text-align: left;
      }
      .topping-list{
          font-size: .85rem;
      }
    }

    &:hover{
        .tool-tip{
            visibility: visible;
            opacity: 1;
            transition: all 0.15s ease;
        }
    }
  }
}
