@import "../../../scss/abstract/variable";
@import "../../../scss/abstract/mixin";

.topping-list{
    margin-bottom: $close-distance;
    h3{
        margin-bottom: $close-distance
    }
    .col-4 , .col-6{
        margin-bottom: $closer-distance;
        display: flex;  
        align-items: center;
        padding-left: ($close-distance + 2)
    }
    label{
        cursor: pointer;
    }
}


