@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";

.modal-content {
  width: 230px;
  overflow-y: auto;
  max-height: 80vh;
  overflow-x: hidden;
  @media screen and (min-width: $small-screen-width) {
    width: unset;
    .pizza-info {
      display: flex;
    }
  }
  h1 {
    font-size: $title-font-size;
    margin-bottom: $normal-distance;
  }
  .pizza-pic {
    @media screen and (min-width: $small-screen-width) {
      padding: 0 $close-distance;
      flex: 1;
    }
    img {
      width: 100%;
      display: block;
      margin-bottom: $normal-distance;
    }
  }
  .info-content {
    flex: 1;
    p {
      margin-bottom: $normal-distance;
    }
    .choice {
      .selection {
        label {
          margin-right: $closer-distance;
        }
        select {
          font-size: 1rem;
          padding-left: $closer-distance;
        }
        margin-bottom: $normal-distance;
      }
    }
    .submit-line {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media screen and (min-width: $medium-screen-width) {
        flex-direction: row;

      }
      margin-bottom: $close-distance;
      .price {
        padding-right: $close-distance;
        display: flex;
        align-items: center;
        h3 {
          font-size: $normal-font-size;
        }
      }
      
    }

    .submit-button-group{
      display: flex;
      justify-content: space-between;
      button {
        @include twoRoundedEnd($primary-color-lighter, 2px);
        font-weight: $bold-weight;
        cursor: pointer;
        background-color: unset;
        display: block;
        @include transitionAll(0.15s);
        &:hover {
          background-color: $primary-color-lighter;
        }
        &.buy-now{
          border-color: $primary-color;
          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
}
