@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";


.header {
  padding: $closer-distance $close-distance;
  background-color: $primary-color-dark;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .logo {
    height: 50px;
    font-family: "Pacifico", cursive !important;

    font-size: $normal-title-size;
    @media screen and (min-width: $small-screen-width) {
      font-size: $logo-font-size
    }
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: left;
    img {
      height: 100%;
      margin-right: $closer-distance;
    }
  }
  .header-icon{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    @include transitionAll(0.15s);
    &:hover{
      background-color: rgba(white,0.5);

    }
  }
  .shopping-cart-icon{
    position: relative;
    div{
      position: absolute;
      background-color: $primary-color-light;
      top: 5px;
      right: 5px;
      width: 17px;
      height: 17px;
      text-align: center;
      line-height: 17px;
      font-size: $small-font-size;
      border-radius: 50%;
      transform: translate(50%, -50%)
    }
  }

  .user-icon{
    margin-right: $close-distance;
    cursor: pointer;
  }

  .navigator {
    .icon {
      @include transitionAll(0.15s);

      border: 1px solid white;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      font-size: 1.2rem;
      cursor: pointer;
      position: relative;
      background-color: unset;
      color: white;
      i {
        @include transitionAll(0.15s);
        opacity: 0;
        visibility: hidden;
        &.active {
          opacity: 1;
          visibility: visible;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }

      &.active {
        border: none;
      }
    }

    .content {
      @include transitionAll(0.15s);
      @include backgroundWithOpacity($primary-color-dark, 0.8);
      position: fixed;
      right: 0;
      top: 60px;
      width: 300px;
      padding-bottom: $closer-distance;
      .item {
        @include transitionAll(0.15s);
        padding: $closer-distance;
        border-bottom: 1px solid white;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        &:hover {
          background-color: $primary-color;
        }
      }

      transform: translate(101%, 0);
      -webkit-transform: translate(101%, 0);
      -moz-transform: translate(101%, 0);
      -ms-transform: translate(101%, 0);
      -o-transform: translate(101%, 0);
      &.active {
        height: auto;

        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
      }
    }
  }

  a{
    color: white;
    text-decoration: none;
    display: block;
  }
}
