@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";

.cart-item{
    display: flex;
    padding: $close-distance;
    box-shadow: 0 0 5px $black-color;
    position: relative;
    margin-bottom: $normal-distance;
    .picture{
        padding: $closer-distance;
        box-shadow: 0 0 5px $grey-border-color;
        margin-right: $normal-distance;
        max-width: 25%;
        display: flex;
        align-items: center;
        img{
            width: 100%;
        }
    }
    .pizza-type-size{
        display: flex;
        div{
            margin-right: $normal-distance;
        }
    }
    .content{
        width: 100%;
        .pizza-type-size{
            display: flex;
            margin : $close-distance 0;
            div{
                margin-right: $normal-distance
            }
        }
    }
   
    .price{
        text-align: right;
        font-weight: $bold-weight;
        font-size: $title-font-size;
    }

    .delete-button{
        position: absolute;
        right: $close-distance;
        cursor: pointer;
    }
}