@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";

.footer{
    background-color: $black-color;
    color: white;
    padding: 20px 30px;
    justify-content: space-between;
    text-align: center;
    @media screen and (min-width : 577px){
        display: flex;

    }
    .contact{
        display: flex;  
        justify-content: center;
        margin-top: $close-distance;
        @media screen and (min-width : 577px){
            display: flex;
            margin: 0;
        }
        .icon{
            @include borderRadius(2px);
            margin-left: 15px;
            width: 25px;
            height: 25px;
            background-color: rgba($color: white, $alpha: 0.2);
            text-align: center;
            line-height: 25px;
            cursor: pointer;
        }
    }
}