
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

@for $i from 1 through 12 {
    .col-#{$i}{
        width: percentage($i/12) ;
    }
}