@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";

.pizza-item {
  padding: $close-distance $close-distance;

  .content {
    img {
      margin: auto;
      width: 160px;
      cursor: pointer;
      @media screen and (min-width: 321px) {
        width: 200px;
      }
      @media screen and (min-width: 577px) {
        width: 250px;
      }
    }
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgb(105, 105, 105);
    padding-bottom: $close-distance;
    padding-top: 5px;
    h3 {
      cursor: pointer;
      font-size: $title-font-size;
      padding: 5px;
      height: 2.8rem;
      padding-top: $close-distance;
    }
    .rating{
      margin-bottom: $close-distance;
      color: $primary-color-lighter
    }
    button {
      @include twoRoundedEnd($primary-color, 2px);
      background-color: unset;
      color: $primary-color;
      font-size: 1.1rem;
      font-weight: 700;
      @include transitionAll(0.15s);
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
