@mixin transitionAll($time) {
    transition: $time all ease;
    -webkit-transition: $time all ease;
    -moz-transition: $time all ease;
    -ms-transition: $time all ease;
    -o-transition: $time all ease;
}

@mixin backgroundWithOpacity ($color, $alpha) {
    background-color: rgba($color: $color, $alpha : $alpha);
}

@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}