

// color variable
$primary-color: #99261F;
$primary-color-dark: #480D09;
$primary-color-light: #DF4930;
$primary-color-lighter: #F8CB32;


$black-color: #020003;



// font size variable

$normal-font-size : 1rem;
$big-font-size: 1.1rem;
$title-font-size: 1.25rem;

$big-title-font-size: 2.25rem;

$logo-font-size: 2rem;



// distance variable

$closer-distance  : 5px;
$close-distance: 10px;
$normal-distance: 15px