@import "../../scss/abstract/variable";
@import "../../scss/abstract/mixin";

.home-page {
  .carousel {
    height: 100vh;
    background-image: url("../../assets/img/pizza-carousel-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .content {
      @include centerAbsolute();
      z-index: 1;
      color: white;
      width: 100%;
      text-align: center;
      h1 {
        font-size: $big-title-font-size;
      }
      h2 {
        font-weight: 100;
        margin-bottom: $normal-distance;
      }
      button {
        @include transitionAll(0.15s);
        background-color: $primary-color;
        color: white;
        padding: $close-distance $normal-distance;
        border: 2px white solid;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        font-size: $big-font-size;
        &:hover {
          background-color: #fff;
          color: $primary-color;
        }
      }
    }

    .scroll-down {
      font-size: 5rem;
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      i {
        cursor: pointer;
        @include transitionAll(0.15s);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .welcome {
    background-color: #f7f7f7;
    padding: $close-distance 0;
    .container {
      img{
        width: 100%;
        max-height: 300px;
        margin: 0 auto;
        display: block;        
      }
      button{
        display: block;
        margin: 0 auto;
      }
      @media screen and (min-width: $medium-screen-width) {
        display: flex;
        align-items: center;
        justify-content: center;
        .image {
          width: 50%;
          img {
            width: 100%;
            max-height: unset;
          }
        }
        button{
          margin: unset;
        }
      }
      
      
      width: 90%;
      margin: auto;
      max-width: 1200px;
      padding: 0 50px;
      
      .welcome-content {
        padding: 20px;
        h1{
          margin-bottom: $normal-distance;
        }
        p{
          margin-bottom: $normal-distance;
        }
        button {
          @include transitionAll(0.15s);
          padding: 10px 24px;
          font-weight: 700;
          background-color: unset;
          border: 2px $primary-color solid;
          color: $primary-color;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          cursor: pointer;
          &:hover{
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
}
